/* body */

body {
  margin-left: : 0;
    height: 673px;
    width: auto;
    background-image: url(../images/bodbgr.jpg);
    background-size: 100% 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
}
/* navigation bar */

.logo {
    display: inline-block;
}
.nav  {
  margin: 0;
position: relative;

}
.mr-comm {
  width: 83%;
  margin:  0 auto;
  margin-left: 30px;

}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px;


}
.mr-comm .container, .btn-success {
margin-left: 12px;
margin: 35px auto;
}

/* Welcome title */

.welcome-am {
    text-align: center;
    color: #0f37d3;
    margin-top: 100px;
}


/* Search box */

.container-search {
    margin-top: 50px;
}

#search-am {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* Language Translate */

.lang {
    margin-left: 60px;
}

.am-row {
    padding-top: 100px;
    padding-bottom: 30px;

}

.am-col-lang {
    margin-left: 20px;
}
#am-select {
    margin-left: 45px;
    margin-top: 20px;
}

.choose-lang {
    font-weight: bold;
    color: #0f37d3;
}


/* View video */
